@import "tailwindcss";

@theme inline {
  --animate-slowSpin: slowSpin 8s ease-in-out infinite;
  @keyframes slowSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  --animate-socialSpin: socialSpin 35s ease-in-out infinite;
  @keyframes socialSpin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-socialSpinR: socialSpinR 35s ease-in-out infinite;
  @keyframes socialSpinR {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  --animate-sillyZoom: sillyZoom 10s ease-in-out infinite;
  @keyframes sillyZoom {
    0%, 100% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1.1);
    }
  }
}


/* Scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* Indigo-600 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Scrollbar track background */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
