@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #121e28;
  --color-secondary: #fe715a;
  --color-accent: #1d232a;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #121e28;
  --color-secondary: #02a17a;
  --color-accent: #ffffff;
}
